<nav class="site-nav">
    <div class="nav-left">
        {% for item in site.data.navigation.nav.left %}
            <a href="{{ item.link | relative_url }}" class="nav-item">
                <img src="{{ item.image | relative_url }}" alt="{{ item.alt }}">
            </a>
        {% endfor %}
    </div>

    <div class="nav-right">
        {% for item in site.data.navigation.nav.right %}
        <a href="{{ item.link | relative_url }}" class="nav-item">
            <img src="{{ item.image | relative_url }}" alt="{{ item.alt }}">
        </a>
        {% endfor %}
    </div>
</nav>