<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <title> {{ page.title }} </title>
    </head>
    <body>
        <header>
            <div class="right-buttons">
                <a href="index.html"><img src="/assets/images/menu.png" class="header-img grow-on-hover"></a>
                <a href="index.html"><img src="/assets/images/home.svg" class="header-img grow-on-hover"></a>
            </div>
            <div class="left-buttons">
                <a href="index.html"><img src="/assets/images/night-day.svg" class="header-img grow-on-hover"></a>
            </div>
        </header>
        {% include navigation.html %}
        {{ content }}
    </body>
</html>