<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
        <title> {{ page.title }} </title>
    </head>
    <body>
        {% include navigation.html %}

        {% assign ingredients = site.data.ingredients[page.ingredients_key] %}
        <div class="recipe-content">
            <div class="ingredients">
                <h2>Ingredients</h2>
                <ul>
                    {% for item in ingredients %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="instructions">
                <h2>Instructions</h2>
                {{ content }}
            </div>
        </div>
    </body>
</html>